{:deps  {com.bhauman/figwheel-main {:mvn/version "0.2.14"}
         ;; add rebel-readline for advanced REPL readline editing
         com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
 :paths ["src" "target" "resources"]}
